build/*
bin/__pycache__/*
uchicagoldrtoolsuite/*pyc
bin/*pyc
bin/#*#
bin/*#*
uchicagoldrtoolsuite/#*$
uchicagoldrtoolsuite/*#*
uchicagoldrtoolsuite/*~
bin/*~
#*#
*~
env/*
.DS_Store
__pycache__
*.egg-info/
*.swp
dist/
.pyproject
.pydevproject
*.#*
*#*
