{% extends "index.html" %}

{% block content %}

<form method="post" action="{{ request.url }}">

{% for field in recordform recursive %}



{% if field.type == 'FormField' %}
  <fieldset class="form-group">
    <legend>
     {{ field.name|makePretty }}
     <button class="btn btn-primary btn-sm" type="submit">New</button>
    </legend>
{{ loop(field) }}
</fieldset>

{% elif field.type == 'StringField' %}
<div class="form-group">
<label for="{{ field.name }}">{{ field.label }}</label>
<input type="text" class="form-control" id="{{ field.name }}"/>
</div>
{% elif field.type == 'TextAreaField' %}
<div class="form-group">
<label for="{{ field.name }}">{{ field.label }}</label>
<textarea class="form-control" id="{{ field.name }}">
</textarea>
</div>
{% elif field.type == 'BooleanField' %}

    {% if field.name == 'acquisitionType' %}
       <div class="form-group">
        <label>
          {% if field.data == True %}
           <input type="checkbox" name="{{ field.name }}" id="{{ field.name }}" checked disabled>
 
          {% else %}
            <input type="checkbox" name="{{ field.name }}" id="{{ field.name }}" disabled>
          
          {% endif %}
           {{ field.label }}
          </label>
       </div>
    {% else %}
       <div class="form-group">
        <label>
         <input type="checkbox" name="{{ field.name }}" id="{{ field.name }}">
           {{ field.label }}
         </label> 
       </div>
    {% endif %}

{% elif field.type == 'SelectField' %}
<div class="form-group">
<label for="{{ field.name }}">{{ field.label }}</label>
<select class="form-control" id="{{ field.name }}">
{{ field.choices }}

{% for choice in field.choices %}
<option id={{ choice[0] }}>{{ choice[1] }}</option>
{% endfor %}
</select>
</div>
{% endif %}



{% endfor %}

<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
<button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}